* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root {
    --header-bg-color: #03045e;
}

nav {
    background-color: var(--header-bg-color);
    color: whitesmoke;
    text-align: center;
    padding: 1.8rem;
    border-bottom: 20px solid #ec3434;
}

nav h1 {
    font-size: 2rem;
}

main {
    margin-bottom: -5px;
}

#card-holder hr {
    display: none;
}

#card-holder {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 0;
}

#card-holder picture {
    grid-column: 1/4;
    grid-row: 1/3;
}

.data {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: -15rem;
    margin-left: 2rem;
    max-width: 100%;
}

.weather {
    height: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: -20rem;
    margin-right: 2rem;
    max-width: 100%;
}

#card-holder .info {
    height: auto;
    background-color: rgba(238, 231, 231, 0.8);
    color: #000;
    padding: 10px;
}

#card-holder .info h2 {
    background-color: var(--header-bg-color);
    color: #fff;
    padding: 1rem;
    text-align: left;
    margin-left: -1.2rem;
    margin-right: 1rem;
}

#card-holder .info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    margin: 0 auto;
}

#card-holder .info ul li {
    text-align: center;
    font-size: 12px;
}

#card-holder .info ul span {
    font-weight: bolder;
}

#card-holder picture img {
    max-width: 100%;
    height: auto;
}

.weather h2 {
    display: flex;
    align-items: center;
}

.weather h2::after {
    content: "";
    display: inline-block;
    background-image: url("../images/weather-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.2rem; 
    height: 2.2rem;
    margin-left: 0.5rem;
}

.weather #h2-weather-img {
    max-width: 50px;
    height: auto;
}

.weather #max-weather-img {
    display: none;
}

footer {
    margin-top: 0;
    padding: 1rem;
    text-align: center;
    background-color: var(--header-bg-color);
}

footer p {
    font-family: var(--font-header-1);
    font-size: 1.3rem;
    color: white;
}

footer p:nth-child(2) {
    color: whitesmoke;
    font-weight: 100;
    word-spacing: 2px;
    font-size: 1rem;
}
