
@media (max-width: 600px) {
    
    nav{
        position: relative;
    }

   
    nav ul{
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #455732;
        
    }

    nav .links{
        display: block;
    }

    nav ul li{
        border-bottom: 1px solid #283618;
        padding: 20px;  
        text-align: right;
    }

    .hambuger{
        display: block;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 1.8rem;
    }

    #temple-card-container{
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    footer p {
        font-size: 1rem;
    }
   
}